@(title: String)

<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="@util.cdn.ui_common("/angular-ui-select/dist/select.css")" />
        <link rel="stylesheet" href="@util.cdn.ui_common("/bootstrap/dist/css/bootstrap.css")"/>
        <link rel="stylesheet" href="assets/styles/main.css">
        <link rel="stylesheet" href="assets/styles/app.css">
@******
        <script src="@util.cdn.ui_common("/es5-shim/es5-shim.js")"></script>
        <script src="@util.cdn.ui_common("/json3/lib/json3.js")"></script>
******@
        <script src="@util.cdn.ui_common("/jquery/dist/jquery.js")"></script>
        <script src="@util.cdn.ui_common("/angular/angular.js")"></script>
        <script src="@util.cdn.ui_common("/angular-bootstrap/ui-bootstrap-tpls.js")"></script>
        <script src="@util.cdn.ui_common("/angular-ui-router/release/angular-ui-router.js")"></script>
        <script src="@util.cdn.ui_common("/angular-sanitize/angular-sanitize.js")"></script>
        <script src="@util.cdn.ui_common("/angular-ui-select/dist/select.js")"></script>
        <script src="@util.cdn.ui_common("/bootstrap/dist/js/bootstrap.js")"></script>

        <script type="text/javascript">
            // TODO: This would come from platform server
            angular.module('ngreflect', []);
            angular.module('restore', ['ngSanitize', 'ui.router', 'ui.bootstrap', 'ngreflect']);

            angular.element(document).ready(function () {
                angular.bootstrap(angular.element('#ang_div'), ['restore']);
            });
            function adminhome($scope){
                $scope.pgdata = {
                    navbar: {
                        navbarright:false
                        ,tabs:[
                            {isLink:true, sref:"#", caption:'Focus'}
                            ,{isLink:true, sref:"#", caption:'Reflect'}
                            ,{isLink:true, sref:"#", caption:'Learn'}
                        ]
                    },
                    usermenu: {
                        username:'Rob Hernandez'
                        ,menuitems:[
                            {caption:'My Profile', nobutton:false}
                            ,{caption:'My Content Drive', nobutton:false}
                            ,{caption:'Goal Settings', nobutton:false}
                            ,{caption:'Administration View', nobutton:false}
                            ,{caption:'User View', nobutton:false}
                            ,{caption:'Sign Out', nobutton:true}
                        ]
                    }
                }
            }
        </script>

        <script src="@util.cdn.ui_common("/ui-common/app/parts/widgets/footr/footr.js")"></script>
        <script src="@util.cdn.ui_common("/ui-common/app/parts/widgets/navbar/navbar.js")"></script>

    </head>
    <body>
        <div id="ang_div" ng-controller="adminhome">
            <navbar>
                <div ng-repeat="tab in pgdata.navbar.tabs">
                    <nav-link sref="tab.sref" ng-if="tab.isLink" text="{{tab.caption}}" navbarright="tab.navbarright"></nav-link>
                </div>
                <nav-link sref="evalHome" text="Help" navbarright="true"></nav-link>
                <nav-dropdown text="{{pgdata.usermenu.username}}" navbarright="true">
                    <div ng-repeat="item in pgdata.usermenu.menuitems">
                        <nav-dropdown-menu text="{{item.caption}}" subtexts="item.menuitems" nobutton="item.nobutton"></nav-dropdown-menu>
                    </div>
                </nav-dropdown>
            </navbar>
            <page-header>
                <h2>{{pgdata.body.caption}}</h2>
            </page-header>
            <footr></footr>
        </div>
    </body>
</html>