@(title: String)

<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
            <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
            <!-- build:css(.) styles/vendor.css -->
            <!-- bower:css -->
        <link rel="stylesheet" href="@util.cdn.ui_common("/angular-ui-select/dist/select.css")" />
        <link rel="stylesheet" href="@util.cdn.ui_common("/bootstrap/dist/css/bootstrap.css")"/>
            <!-- endbower -->
            <!-- endbuild -->
            <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <link rel="stylesheet" href="assets/styles/app.css">
            <!-- endbuild -->
    </head>
    <body>
            <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

            <!-- Add your site or application content here -->
        <div class="container-fluid">
            <div ui-view>
                <h1>All custom elements composed & pushed from server side here...</h1>
            </div>
            <div id="ang_div">
                Angular controlled div
                <footr></footr>
            </div>
        </div>
            <!-- build:js(.) scripts/oldieshim.js -->
            <!--[if lt IE 9]>
    <link rel="stylesheet" href="@util.cdn.ui_common("/angular-ui-select/dist/select.css")" />
    <script src="@util.cdn.ui_common("/es5-shim/es5-shim.js")"></script>
    <script src="@util.cdn.ui_common("/json3/lib/json3.js")"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
        <script src="@util.cdn.ui_common("/jquery/dist/jquery.js")"></script>
        <script src="@util.cdn.ui_common("/angular/angular.js")"></script>
        <script src="@util.cdn.ui_common("/angular-bootstrap/ui-bootstrap-tpls.js")"></script>
        <script src="@util.cdn.ui_common("/angular-ui-router/release/angular-ui-router.js")"></script>
        <script src="@util.cdn.ui_common("/angular-sanitize/angular-sanitize.js")"></script>
        <script src="@util.cdn.ui_common("/angular-ui-select/dist/select.js")"></script>
        <script src="@util.cdn.ui_common("/bootstrap/dist/js/bootstrap.js")"></script>

        @******
        <script src="@util.cdn.ui_common("/ui-common/app/app.js")"></script>
        ******@

        <script src="assets/scripts/app.js"></script>
        <script src="assets/scripts/controllers/evalHomeCtrl.js"></script>
        <script src="assets/scripts/routes.js"></script>

        <script src="@util.cdn.ui_common("/ui-common/app/parts/widgets/footr/footr.js")"></script>
        <script src="@util.cdn.ui_common("/ui-common/app/parts/widgets/navbar/navbar.js")"></script>

    </body>
</html>